[submodule "3scale-operator"]
	path = 3scale-operator
	url = https://github.com/3scale/3scale-operator
  branch = master
[submodule "drift-detection"]
	path = drift-detection
	url = https://github.com/arewm/drift-detection
  branch = main
